.roullete-gun-component button{
    padding: 8px 10px;
    background: salmon;
    border: none;
    margin-right: 10px;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.roullete-gun-component button:hover,
.roullete-gun-component button:focus{
    background: crimson;
}

