.tabs-component button{
    background: lightgreen;
    border: none;
    padding: 4px;
    margin-right: 30px;
    margin-bottom: 30px;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: darkgreen;
}

.tabs-component button:hover,
.tabs-component button:focus{
    background: darkgreen;
    color: white;
    transition: 
        background 0.3s ease-in-out, 
        color 0.3s ease-in-out;
}

.tabs-component button:hover div,
.tabs-component button:focus div{
    border-color: white;
    transition: border 0.3s ease-in-out;
}

.tabs-component button div{
    border: 3px solid darkgreen;
    padding: 10px;
}